{% extends 'main/base.html'%}

{% block title %}
Create a new cele
{% endblock %}

{% block add %}
nav-link active
{% endblock %}

{% block main %}
nav-link
{% endblock %}

{% block film %}
nav-link
{% endblock %}

{% block litera %}
nav-link
{% endblock %}

{% block maths %}
nav-link
{% endblock %}

{% block content %}
    <h1>Добавить новою знаменитость</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.description }} <br>
        {{ form.link }} <br>
        {{ form.type }} <br>
        <button type="submit" class="btn btn-success">Add</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}